@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);

  --font-*: initial;
  --font-sans: "Montserrat", sans-serif;
  --font-fraunces: "Fraunces", sans-serif;

  --font-weight-*: initial;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-fraunces font-bold text-black;
  }

  h2 {
    @apply text-[2rem]/8 lg:text-[2.5rem]/10;
  }

  button {
    @apply cursor-pointer rounded-lg bg-green-500 p-4 font-bold text-white hover:bg-green-700 active:bg-green-700;
  }

  s {
    @apply line-through;
  }
}
